.container {
    margin: 20px;
}



#navBar {

    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    color: black;
    height: 5%;
    width: 100%;
    z-index: 600;
    right: 1%;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}

.navBtns {
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

nav ul {
    margin: 5px;
}

nav li {
    display: flex;
    justify-content: space-between;
    float: left;
    text-decoration: none;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profileImg {
    height: 250%;
    width: 150%;
    border: 1px solid black;
    border-radius: 50%;
}

a {
    text-decoration: none;

}

.mainH {
    position: fixed;
    top: 20%;
    left: 43%;

}

.searchBar {
    position: fixed;
    top: 32%;
    left: 34%;
}

#search {
    width: 300%;
    height: 100%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    height: var(--searchbox-height);
    opacity: 1;
    position: relative;
    transition: none;
}

.quickImg1 {
    height: 5%;
    width: 5%;
    border: 1px solid black;
    border-radius: 50%;
    grid-area: s1;

}

.quickLinks {
    display: grid;
    position: fixed;
    grid-template-areas: 
    "s1 s1 s1 s1 s1"
    "s2 s2 s2 s2 s2";
    grid-gap: 10px;
    width: 10%;
    height: 10%;

}



.quickImg {
    height: 5%;
    width: 5%;
    border: 1px solid black;
    border-radius: 50%;
    grid-area: s2;
}



.shortcuts {
   
}

ul li {

    text-decoration: none;

}
